## Packages & Databases

In [1]:
# Imports the necessary libraries
import pandas as pd
# It comes from final_data_month.csv
df1 = pd.read_csv("data2/SMALL_final_data_month.csv",sep=',',index_col=0)

In [2]:
df1.columns

Index(['AÑO', 'Departamento', 'TONELADAS APROVECHADAS',
       'TONELADAS DE RESIDUOS', 'Total', 'kg_percapita_apro',
       'kg_percapita_noapro'],
      dtype='object')

## Data

In [3]:
df1.head(1)

,AÑO,Departamento,TONELADAS APROVECHADAS,TONELADAS DE RESIDUOS,Total,kg_percapita_apro,kg_percapita_noapro
0,2016,ANTIOQUIA,11739.75818,580790.056,3465111,3.387989,167.610808

In [4]:
# Renames column kg_percapita_noapro
df1.rename(columns= {"kg_percapita_noapro":"kg_per_capita"}, inplace = True)

# Saves the full dataset
# df1.to_csv("data2/ton_dis_per_capita.csv")

# Selects the desired columns from the full dataset and creates a subset
df2= df1.groupby(["AÑO", "Departamento"]).sum()["kg_per_capita"].to_frame().reset_index()
df2.to_csv("graphs/DISPOSED_MAPS/data/disposed_percapita_2016-2021.csv")
df2.head(20)

     AÑO     Departamento  kg_per_capita
0   2016        ANTIOQUIA     167.610808
1   2016        ATLANTICO     248.272672
2   2016     BOGOTA, D.C.     208.238645
3   2016          BOLIVAR     142.336150
4   2016           BOYACA      49.864790
5   2016           CALDAS     140.040216
6   2016            CAUCA     182.182765
7   2016            CESAR     192.917338
8   2016          CORDOBA     166.111327
9   2016     CUNDINAMARCA      63.731566
10  2016       LA GUAJIRA      77.988894
11  2016        MAGDALENA     280.213030
12  2016        RISARALDA     209.828444
13  2016        SANTANDER     260.309056
14  2016  VALLE DEL CAUCA      64.647556
15  2017        ANTIOQUIA     236.619626
16  2017        ATLANTICO     223.479979
17  2017     BOGOTA, D.C.     307.635082
18  2017          BOLIVAR     434.008724
19  2017           BOYACA     149.251818